@font-face {
    font-family: 'DiabloHeavy';
    src: url('./../fonts/diablo_h.ttf'),
    url('./../fonts/diablo_h.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;

}

.font-diablo {
    font-family: 'DiabloHeavy', sans-serif;
}