// Sprite image 'Active Skills'

.active-skills {
  .skills {
    .slot {
      display: block;
      width: 22px;
      height: 22px;
      background: url("../img/skill-overlays.png") 0 0;
      position: absolute;
      top: -5px;
      left: 5px;

      &.slot-1 {
        background-position: 0 -1px;
      }

      &.slot-2 {
        background-position: -21px -1px;
      }

      &.slot-3 {
        background-position: 0 -23px;
      }

      &.slot-4 {
        background-position: -23px -23px;
      }

      &.slot-5 {
        background-position: 0 -46px;
      }

      &.slot-6 {
        background-position: -23px -46px;
      }

    }
  }

}